[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moviepy = "==1.0.3"
pytube = "==11.0.1"
speechrecognition = "*"
autopep8 = "*"
pyinquirer = "*"
python-docx = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.9"
